<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076533576941-t8f1m0q43slkseh6lbh4g5eq4nve1v9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076533576941-t8f1m0q43slkseh6lbh4g5eq4nve1v9t</string>
	<key>API_KEY</key>
	<string>AIzaSyBuUQoAcftIWEf1JVuo6yPHxT14GyEn1JE</string>
	<key>GCM_SENDER_ID</key>
	<string>1076533576941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gladysalpha.checkpoint</string>
	<key>PROJECT_ID</key>
	<string>checkpoint-24787</string>
	<key>STORAGE_BUCKET</key>
	<string>checkpoint-24787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076533576941:ios:fe7abb816ef364d71cb8e4</string>
</dict>
</plist>